.title {
  text-align: center;
}

th {
  text-align: left;
  font-size: x-large;
}

input {
  width: 100%;
  font-size: large;
  padding: 10px;
  border: 3px solid #bbb;
  border-radius: 10px;
  margin-bottom: 15px;
}

button {
  padding: 5px 10px;
  border: 1px solid #ddd;
  background-color: #fff;
  cursor: pointer;
}

.card {
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 15px;
  margin: 15px 0;
}