th {
  text-align: left;
  font-size: x-large;
}

button {
  padding: 5px 10px;
  border: 1px solid #ddd;
  background-color: #fff;
  cursor: pointer;
}

.card {
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 15px;
  margin: 15px 0;
}